
<table class="table is-fullwidth light-grey" >
    <thead>
        <tr>
            {% if needed == "Teachers" %}
                <th>Teacher ID</th>
                <th>Teacher Name</th>
            {% elif needed == "Teacher_activities" %}
                <th>Activity ID</th>
                <th>Teacher ID</th>
                <th>Teacher Name</th>
                <th>Last Active</th>
                <th>Activity Score</th>
                <th>Student Interaction Rating</th>
            {% elif needed == "Subjects" %}
                <th>Subject ID</th>
                <th>Subject Name</th>
            {% elif needed == 'Resources' %}
                <th>Teacher Name</th>
                <th>Resource ID</th>
                <th>Resource Name</th>
                <th>Utilization Rate</th>
            {% elif needed == 'Coaches' %}
                <th>Teacher Name</th>
                <th>Coach ID</th>
                <th>Coach Name</th>
                <th>Specialization</th>
                <th>Years of Experience</th> 
                <th>Last Meeting Date </th>
                <th>Meeting notes </th>
            {% else %}
                <th>Teacher ID</th>
                <th>Teacher Name</th>
                <th>Subject ID</th>
                <th>Subject Name</th>
            {% endif %}
           
        </tr>
    </thead>
    <tbody>
        {% for ts in results %}
        <tr>
            {% if needed == "Teachers" %}
                <td>{{ ts.teacher.id }}</td>
                <td>{{ ts.teacher.name }}</td>
            {% elif needed == "Teacher_activities" %}
                <td>{{ ts.id }}</td>
                <td>{{ ts.teacher.id }}</td>
                <td>{{ ts.teacher.name }}</td>
                <td>{{ ts.last_active }}</td>
                <td>{{ ts.activity_score }}</td>
                <td>{{ ts.student_interaction_rating }}</td>
            {% elif needed == "Subjects" %}
                <td>{{ ts.id }}</td>
                <td>{{ ts.name }}</td>
            {% elif needed == 'Resources' %}
                <td>{{ ts.teacher.name }}</td>
                <td>{{ ts.resource.id }}</td>
                <td>{{ ts.resource.name }}</td>
                <td>{{ ts.resource.utilization_rate }}</td>
            {% elif needed == 'Coaches' %}
                <td>{{ ts.teacher.name }}</td>
                <td>{{ ts.coach.id }}</td>
                <td>{{ ts.coach.name }}</td>
                <td>{{ ts.coach.specialization }}</td>
                <td>{{ ts.coach.years_of_experience }}</td>
                <td>{{ ts.last_meeting_date }}</td>
                <td>{{ ts.meeting_notes }}</td>
            {% else %}
                <td>{{ ts.id }}</td>
                <td>{{ ts.name }}</td>
                <td>{{ ts.id }}</td>
                <td>{{ ts.name }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
